@import "menuCabecera.css";

.contenedor {
  background-color: var(--azul-grisaceo);
  padding: 4vw;
  margin: auto;
  text-align: justify;
  color: var(--casi-blanco);
}

.contenedor>figure {
  margin: auto;
  width: 100%;
  padding-bottom: 2vw;
}

.contenedor img {
  width: 100%;
}

.contenedor>table {
  margin: auto;
  column-gap: 1vw;
  padding-bottom: 2vw;
}

th, td {
  padding: 1vw;
}

.precio {
  font-weight: 600;
}

.contenedor a {
  color: var(--casi-blanco);
}

@media (max-width: 600px) {
  h2 {
    text-align: center;
    font-size: 5vw;
  }

  .contenedor{
    font-size: 3vw;
  }

  table{
    padding-bottom: 4vw;
  }
}

@media (orientation:portrait) and (min-width: 600px){
  .contenedor{
    font-size: 2vw;
  }
}
