@import "menuCabecera.css";

p {
  color: var(--casi-blanco);
}

.contenedor {
  background-color: var(--azul-grisaceo);
  color: var(--casi-blanco);
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: space-evenly;
}

.info {
  grid-column: 1/2;
  text-align: justify;
  margin: 0;
  padding: 4vw;
}

.varios {
  grid-column: 2/3;
  margin: auto;
  text-align: center;
  padding: 4vw;
  padding-left: 0;
}

.varios p {
  margin: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.tabla {
  text-align: center;
  margin: auto;
  padding-bottom: 2vw;
}

.varios figure {
  width: 100%;
  height: auto;
  margin: auto;
}

.varios img {
  width: 97%;
  height: auto;
}

.varios table {
  margin: auto;
}

.varios p{
  padding-bottom: 2vw;
}

a{
  color: inherit;
}

@media (max-width:600px){
  .contenedor{
    display: flex;
    flex-direction: column;
    font-size: 3vw;
  }

  .varios{
    padding-left: 4vw;
    padding-top: 0;
  }

  .varios img{
    width: 100%;
  }

  .varios figure{
    padding-top: 4vw;
  }
}

@media (orientation: portrait)and (min-width:600px){
  .contenedor{
    display: flex;
    flex-direction: column;
    font-size: 2vw;
  }

  .varios{
    padding-left: 4vw;
    padding-top: 0;
  }

  .varios img{
    width: 100%;
  }

  .varios figure{
    padding-top: 4vw;
  }
}
