@import "menuCabecera.css";

p {
  color: var(--casi-blanco);
}

h2{
  font-size: 2.5vw;
  margin: auto;
  padding: 2%;
  font-weight: bold;
}

.contenedor {
  background-color: var(--azul-grisaceo);
  color: var(--casi-blanco);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  column-gap: 1vw;
}

.info{
  grid-column: 1/2;
  text-align: justify;
  margin: 3vw;
  margin-left: 6vw;
}

.varios{
  grid-column: 2/3;
  margin:auto;
  margin-top: 3vw;
  text-align: center;
}

.varios p{
  width: 75%;
  margin: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.tabla{
  text-align: center;
  width: 60%;
  margin: auto;
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.varios figure{
  width: 80%;
  height: auto;
  margin: auto;
}
.varios img{
  width: 90%;
  height: auto;
  padding: 1vw;
  margin: auto;
  margin-bottom: 2vw;
}

.varios table{
  margin: auto;
}
}
