@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap');

:root{
  --negro: #1F1F26;
  --gris: #989DA6;
  --azul-grisaceo: #50769C;
  --azul-fuerte: #1D5273;
  --casi-blanco: #F2F2F2;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

body{
    background-color: var(--casi-blanco);
    margin: 0px;
}

header{
    position: relative;
    padding: 0px;
    margin: 0px;
}

header>figure>img{
    width: 100%;
    height: auto;
    margin: auto;
}

header>figure{
  margin: auto;
}

header>h1{
    font-family: 'Khula', sans-serif;
    color: #040A22;
    font-size: 5vw;
    position:absolute;
    bottom: 5%;
    right: 5%;
    margin: 0px;
}

h2{
    font-size: 1.5vw;
    color: #1F1F26;
}

p{
    color: #1F1F26;
}

.tirafotos{
    background-color: var(--azul-fuerte);
    width: 100%;
    height: auto;
    margin: auto;
    padding: 5px;
}

.tirafotos > img{
    padding: 5px;
    position: relative;
    width: auto;
    height: 200px;
    display: inline-block;
}

nav{
    max-width: 100%;
    margin: auto;
    background-color: #1D5273;
    font-size: 25px;
}
.menuhorizontal{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding: 0;
}

.menuhorizontal > li{
    color: var(--casi-blanco);
    padding: 30px 60px;
    float: left;
}

.menuhorizontal>li a, ul{
    display: inline-block;
    text-decoration: none;
    color: var(--casi-blanco);
}


.menuhorizontal > li:hover{
    background-color: var(--azul-grisaceo);
}

.menuvertical{
    position: absolute;
    display: none;
    list-style: none;
    z-index: 1;
    background-color: ;
}

.menuhorizontal li:hover .menuvertical{
    display: block;
}

.menuvertical li:hover{
    background-color: var(--azul-grisaceo);
}

.menuvertical li a{
    display: block;
    color: var(--casi-blanco);
    text-decoration: none;
    text-align: left
}

.cuerpo{
    display: grid;
    grid-template-areas: "informacion informacion foto" "informacion informacion foto";
    grid-gap: 3vw;
    margin: auto;
    padding: 2vw;
}

.info{
  margin: auto;
  grid-area: informacion;
  text-align: justify;
}

.info > h2{
  margin-top: 0px;
  margin-bottom: 0px;
}

.calendario{
    margin: auto;
    width: auto;;
}

.calendario > img{
  margin: auto;
  width: 100%;
  grid-area: foto;
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    color: var(--negro);
    width: 100%;
    height: 20%;
    background-color: #1F1F26;
    font-size: 1vw;
    margin:auto;
}

.informacion>h3{
  margin-bottom: 1%;
  margin:auto;
}

footer ul{
    margin: 0px;
    padding: 0px;
}

footer li{
    list-style: none;
}

.informacion{
    grid-column: 2;
    grid-row: 1;
    margin: auto;
}

footer>figure>img{
    grid-column: 1;
    grid-row: 1;
    width: 40%;
    height: auto;
    margin: auto;
    align-self: start;
}

@media (max-width: 600px){
  .cuerpo{
      grid-template-areas: "informacion" "foto";
  }
}
