@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Khula:wght@800&display=swap');

:root{
  --negro: #1F1F26;
  --gris: #989DA6;
  --azul-grisaceo: #50769C;
  --azul-fuerte: #1D5273;
  --casi-blanco: #F2F2F2;
}

html{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

body{
    background-color: var(--casi-blanco);
    margin: 0px;
    padding: 0px;
}

footer{
    display: grid;
    grid-template-areas: "logo contacto";
    color: var(--casi-blanco);
    background-color: var(--negro);
    font-size: 1vw;
    margin: auto;
}

.informacion>h3{
  margin-bottom: 1%;
  margin: auto;
}

footer ul{
    margin: 0px;
    padding: 0px;
}

footer li{
    list-style: none;
}

.informacion{
    grid-area: contacto;
    margin: auto;
}

.logo{
  grid-area: logo;
  width: 25%;
  height: auto;
  margin: auto;
}

.logo>img{
  width: 100%;
}

}
