@import "menuCabecera.css";

.contenedor {
  background-color: var(--azul-grisaceo);
  color: var(--casi-blanco);
  display: grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 100%;
}

.contenedor h3 {
  color: var(--negro);
  margin: auto;
}

.contenedor p {
  margin-top: 0.3vw;
}

.info {
  font-size: 120%;
  grid-column: 2/3;
  grid-row: 1/2;
  text-align: justify;
  padding: 4vw 4vw 4vw 2vw;
}

.col1 {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 4vw 2vw 4vw 4vw;
}

.col1 h3 {
  font-size: 120%;
}

.col1>figure {
  width: 60%;
  margin: auto;
  padding-top: 1vw;
}

.col1 img {
  width: 100%;
}

.tabla {
  padding: 1vw 0;
}

.tabla table {
  border: solid 1px;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: solid 1px;
  padding: 0.5vw;
  text-align: center;
}

@media(max-width:600px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    font-size: 3vw;
  }

  .tabla {
    padding: 2vw 0;
  }

  .col1 {
    padding: 4vw;
  }

  .info {
    padding: 4vw 4vw 0vw 4vw;
  }

  .col1 h3 {
    font-size: 4vw;
    text-align: center;
  }
}

/*para tablets*/
@media (orientation:portrait) and (min-width: 600px) {
  .contenedor {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
  }

  .tabla {
    padding: 2vw 0;
  }

  .col1 {
    padding: 4vw;
  }

  .info {
    padding: 4vw 4vw 0vw 4vw;
  }

  .col1 h3 {
    font-size: 3vw;
    text-align: center;
  }
}
