@import "estilos.css";

h2 {
  font-size: 2vw;
  color: var(--negro);
  font-weight: bold;
}

p {
  color: var(--negro);
  margin: auto;
}

#parallax {
  width: 100%;
  height: 48vw;
  position: relative;
  overflow: hidden;
}

#contenedor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.texto-titulo>h1 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12vw;
  color: #040A22;
  margin: auto;
}

.texto-titulo {
  width: 100%;
  height: 100%;
  opacity: .75;
}

nav, .submenu, nav>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav {
  background: var(--azul-fuerte);
}

nav>ul {
  list-style: none;
  display: flex;
}

nav>ul>li {
  display: block;
  padding: 25px 20px;
  color: var(--casi-blanco);
  flex-grow: 1;
  text-align: center;
  position: relative;
}

nav>ul>li>a {
  display: block;
  color: var(--casi-blanco);
  text-decoration: none;
}

nav li:hover {
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.3);
}

nav>ul>li:hover>ul {
  transition: all 0.5s;
  display: block;
}

.submenu {
  list-style: none;
  display: none;
  background: var(--azul-fuerte);
  width: 100%;
  position: absolute;
  right: 0%;
  top: 100%;
}

.submenu>li>a {
  text-decoration: none;
  color: var(--casi-blanco);
  display: block;
  padding: 15px 20px;
}

.cuerpo {
  display: flex;
  flex-direction: row;
  margin: auto;
  font-size: 2vw;
  padding: 4vw;
  background-color: var(--casi-blanco);
}

.info {
  margin: auto;
  text-align: justify;
}

.info>h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 1vw;
}

.calendario {
  margin: auto;
  width: 105vw;
  padding-left: 4vw;
}

.calendario>img {
  margin: auto;
  width: 100%;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
  padding: 4vw;
  background-color: var(--azul-fuerte);
  width: 100%;
  height: 30%;
  box-sizing: border-box;
}

#prev {
  padding-top: 0;
}

/* Hide the images by default */
.foto {
  display: none;
  height: 30vw;
  margin: auto;
  text-align: center;
}

.foto>img {
  vertical-align: middle;
  height: 100%;
  width: auto;
}
/*botones para ver las fotos*/
.anterior,
.siguiente {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 1vw;
  margin: auto;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  font-size: 2.5vw;
  user-select: none;
  -webkit-user-select: none;
}

/* posiciones de los botones */
.siguiente {
  right: 17vw;
}

.anterior {
  left: 17vw;
}

.previsualizacion {
  display: flex;
}

/* al hacer hover poner en blanco claro */
.anterior:hover,
.siguiente:hover {
  background-color: var(--azul-grisaceo);
}

.previsualizacion:after {
  content: "";
  display: table;
  clear: both;
}

.previsualizacion>figure {
  width: 100%;
  margin: auto;
}

.demo {
  opacity: 0.6;
  cursor: pointer;
}

.active,
.demo:hover {
  opacity: 1;
}

@media (max-width: 600px) {
  .cuerpo {
    flex-direction: column;
  }

  .calendario {
    padding-left: 0;
  }

  nav * {
    font-size: 2.3vw;
  }

  .info {
    font-size: 3vw;
  }

  .info h2 {
    font-size: 4vw;
  }

  header>h1 {
    font-size: 10vw;
    position: absolute;
    bottom: 20%;
    right: 5%;
  }

  .foto {
    width: 100%;
    height: auto;
  }

  .foto>img {
    width: 100%;
  }

  .calendario {
    padding-top: 4vw;
    width: auto;
  }

  /* posiciones de los botones */
  .siguiente {
    right: 5vw;
  }

  .anterior {
    left: 5vw;
  }
}
