@import "estilos.css";

header {
  position: relative;
  padding: 0px;
  margin: 0px;
  line-height: 0;
}

header>figure>img {
  width: 100%;
  height: auto;
  margin: auto;
}

header>figure {
  margin: auto;
}

header>h1 {
  font-family: 'Khula', sans-serif;
  color: #040A22;
  font-size: 5vw;
  position: absolute;
  bottom: 20%;
  right: 5%;
  margin: 0px;
}

h2 {
  font-size: 2vw;
  color: var(--negro);
  font-weight: bold;
}

p {
  color: var(--negro);
  margin: auto;
}

.tirafotos {
  background-color: var(--azul-fuerte);
  width: 100%;
  height: auto;
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
}

.tirafotos>img {
  padding: 5px;
  position: relative;
  width: auto;
  height: 200px;
  display: inline-block;
}

nav, .submenu, nav>ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

nav{
  background: var(--azul-fuerte);
}

nav>ul{
  list-style: none;
  display: flex;
}

nav>ul>li{
  display: block;
  padding: 25px 20px;
  color: var(--casi-blanco);
  flex-grow: 1;
  text-align: center;
  position: relative;
}

nav>ul>li>a {
  display: block;
  color: var(--casi-blanco);
  text-decoration: none;
}

nav li:hover{
  transition: all 0.3s;
  background: rgba(0,0,0,0.3);
}

nav>ul>li:hover>ul{
  transition: all 0.5s;
  display: block;
}

.submenu{
  list-style: none;
  display: none;
  background: var(--azul-fuerte);
  width: 100%;
  position: absolute;
  right: 0%;
  top: 100%;
}

.submenu>li>a{
  text-decoration: none;
  color: var(--casi-blanco);
  display: block;
  padding: 15px 20px;
}

.cuerpo {
  display: flex;
  flex-direction: row;
  margin: auto;
  font-size: 2vw;
  padding: 4vw;
  background-color: var(--casi-blanco);
}

.info {
  margin: auto;
  text-align: justify;
}

.info>h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 1vw;
}

.calendario {
  margin: auto;
  width: auto;
  padding-left: 4vw;
}

.calendario>img {
  margin: auto;
  width: 100%;
}

@media (max-width: 600px) {
  .cuerpo {
    flex-direction: column;
  }

  .calendario{
    padding-left: 0;
  }

  nav *{
    font-size: 2.3vw;
  }

  .info{
    font-size: 3vw;
  }

  .info h2{
    font-size: 4vw;
  }

  header>h1 {
    font-size: 10vw;
    position: absolute;
    bottom: 20%;
    right: 5%;
  }
}
