@import "estilos.css";

header {
  position: relative;
  padding: 0px;
  margin: 0px;
  line-height: 0;
}

header>figure>img {
  width: 100%;
  height: auto;
  margin: auto;
}

header>figure {
  margin: auto;
}

header>h1 {
  font-family: 'Khula', sans-serif;
  color: #040A22;
  font-size: 5vw;
  position: absolute;
  bottom: 20%;
  right: 5%;
  margin: 0px;
}

h2 {
  font-size: 1.5vw;
  color: #1F1F26;
  font-weight: bold;
}

p {
  color: #1F1F26;
}

.tirafotos {
  background-color: var(--azul-fuerte);
  width: 100%;
  height: auto;
  margin: auto;
  padding: 5px;
  box-sizing: border-box;
}

.tirafotos>img {
  padding: 5px;
  position: relative;
  width: auto;
  height: 200px;
  display: inline-block;
}

.menu, .submenu, .menu>ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu{
  background: #1D5273;
}

.menu>ul{
  list-style: none;
  display: flex;
}

.menu>ul>li{
  display: block;
  padding: 25px 20px;
  color: #F2F2F2;
  flex-grow: 1;
  text-align: center;
  position: relative;
}

.menu>ul>li>a {
  display: block;
  color: #F2F2F2;
  text-decoration: none;
}

.menu li:hover{
  transition: all 0.5s;
  background: rgba(0,0,0,0.3);
}

.menu>ul>li:hover>ul{
  transition: all 0.5s;
  display: block;
}

.submenu{
  list-style: none;
  display: none;
  background: #1D5273;
  width: 100%;
  position: absolute;
  right: 0%;
  top: 100%;
}

.submenu>li>a{
  text-decoration: none;
  color: #F2F2F2;
  display: block;
  padding: 15px 20px;
}

.cuerpo {
  display: grid;
  grid-template-areas: "informacion informacion foto""informacion informacion foto";
  grid-gap: 3vw;
  margin: auto;
  padding: 2vw;
}

.info {
  margin: auto;
  grid-area: informacion;
  text-align: justify;
}

.info>h2 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.calendario {
  margin: auto;
  width: auto;
}

.calendario>img {
  margin: auto;
  width: 100%;
  grid-area: foto;
}

@media (max-width: 600px) {
  .cuerpo {
    grid-template-areas: "informacion" "foto";
  }
