@import "menuCabecera.css";

h2{
  font-size: 2.5vw;
  margin: auto;
  padding: 2%;
  font-weight: bold;
}

.mapa{
  padding: 5vw;
  background-color: var(--azul-grisaceo);
  margin: auto;
}

.mapa>img{
  margin: auto;
  width: 100%;
}


.tabla{
  width: 100%;
  color: var(--negro);
  padding: 1vw;
  box-sizing: border-box;
  margin: 1vw auto;
}

.tabla > table{
  width: 100%;
}

caption{
  margin: 1vw;
  font-size: 2vw;
}

.caption2{
  border-top: 1px solid var(--negro);
  padding-top: 1vw;
}

th, td{
  text-align: center;
  padding: 1vw;
}

/*colores de los elementos de las tablas*/

.facil{
  color: #4eb349;
}

.intermedio{
  color: #179fd2;
}

.dificil{
  color: red;
}

.abierto{
  color: green;
}

.cerrado{
  color: red;
}
