@import "menuCabecera.css";

.mapa {
  padding: 4vw;
  background-color: var(--azul-grisaceo);
  margin: auto;
}

.mapa>img {
  margin: auto;
  width: 100%;
}

.tabla {
  width: 100%;
  color: var(--negro);
  padding: 1vw;
  box-sizing: border-box;
  margin: auto;
  background-color: var(--casi-blanco);
}

caption {
  padding: 1vw;
  font-size: 2vw;
  background-color: var(--casi-blanco);
}

.caption2 {
  border-top: 1px solid var(--negro);
  padding-top: 1vw;
}

th, td {
  text-align: center;
  padding: 1vw;
}

/*colores de los elementos de las tablas*/
.facil {
  color: #4eb349;
}

.intermedio {
  color: #179fd2;
}

.dificil {
  color: red;
}

/*para moviles*/
@media (max-width: 600px){
  table {
    font-size: 2.6vw;
  }
  caption {
    font-size: 3vw;
  }
}

/*para tablets en vertical*/
@media (orientation:portrait) and (min-width: 600px) {
  table {
    font-size: 2vw;
  }

  caption {
    font-size: 3vw;
  }
}
