@import "estilos.css";

header {
  position: relative;
  padding: 0px;
  margin: 0px;
  background-color: #1D5273;
}

header>a>figure {
  width: 10%;
  height: auto;
  position: absolute;
  right: 0;
  padding: 1vw;
  margin: 0;
  display: inline-block;
}

#logoCabecera {
  width: 100%;
  height: auto;
}

header>h1 {
  padding: 0%;
  margin: 0%;
  position: relative;
  left: 15%;
  width: 50%;
  display: inline-block;
  height: 7vw;
}

header>h1>a {
  padding: 0;
  margin: 0;
  font-family: 'Khula', sans-serif;
  color: #F2F2F2;
  font-size: 5vw;
  text-decoration: none;
}

h2 {
  font-size: 2.5vw;
  margin: auto;
  padding: 2%;
  /*negrita mas fuerte*/
  font-weight: 800;
  color: var(--negro);
}

/*Menu*/
header>label>img {
  height: 5vw;
  width: 5vw;
}

#btn-menu {
  display: none;
}

header>label {
  display: inline-block;
  height: 5vw;
  width: 5vw;
  padding: 1vw;
  position: absolute;
  left: 0%;
  top: 0%;
}

header>label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}

.menu, .submenu, .menu>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#btn-menu:checked~.menu {
  margin: 0;
}

.menu {
  position: absolute;
  background: #1D5273;
  width: 20%;
  margin-left: -35%;
  transition: all 0.2s;
}

.menu>ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.menu>ul>li {
  display: block;
  padding: 15px 20px;
  color: #F2F2F2;
  position: relative;
}

.menu>ul>li>a {
  display: block;
  color: #F2F2F2;
  text-decoration: none;
}

.menu>ul>li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.submenu {
  list-style: none;
  display: none;
  background: #1D5273;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 100%;
}

.submenu>li {
  padding: 15px 20px;
}

.menu>ul>li:hover>ul {
  transition: all 0.5s;
  display: block;
}

.submenu>li>a {
  color: #F2F2F2;
  text-decoration: none;
  display: block;
}

.submenu>li:hover {
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 600px) {
  h2 {
    text-align: center;
    font-size: 5vw;
  }

  h3 {
    font-size: 4vw;
    margin-bottom: 1vw;
  }

  header>h1 {
    height: 13vw;
  }

  header>h1>a {
    font-size: 9.6vw;
  }

  header>label>img {
    height: 11vw;
    width: 11vw;
  }

  header>label {
    height: 11vw;
    width: 11vw;
  }

  header>a>figure{
    width: 22%;
  }

  .menu *{
    font-size: 3vw;
  }

  .submenu {
    width: 100%;
  }
  .menu{
    width: 35%;
  }
}
