@import "menuCabecera.css";

.contenedor {
  background-color: var(--azul-grisaceo);
  color: var(--casi-blanco);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info{
  width: 50%;
}

.contenedor>ul {
  margin: auto;
}

.contenedor li {
  list-style: none;
  padding: 1.2vw;
  text-align: justify;
  font-size: 2.2vw;
}

.contenedor>figure {
  width: 25%;
  margin: auto;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.contenedor>figure>img {
  width: 100%;
}

.pistas{
  background-color: var(--casi-blanco);
}

#desglose {
  background-color: var(--casi-blanco);
  text-align: center;
  font-size: 2.5vw;
  color: var(--negro);
  margin-top: 0;
  padding-top:2.5vw;
}

.circulos {
  width: 100%;
  text-align: center;
  display: inline-flex;
  padding: 4vw 0;
  box-sizing: border-box;
}

.circulos>div {
  margin: auto;
  color: var(--casi-blanco);
  font-size: 2vw;
  display: inherit;
  width: 13vw;
  height: 13vw;
  border-radius: 50%;
  transition: width 0.33s, height 0.33s;

}

/*ampliaciond de los circulos al pasar el raton por encima*/
.circulos>div:hover{
  width: 20vw;
  height: 20vw;
  cursor: pointer;
  font-size: 0px;
}

/*texto despues*/
.circulos>.verde:hover p:after{
  content: "Ala Blanca\A El pinet\A Ronda Corta";
  font-size: 2vw;
  white-space: pre;
}

.circulos>.azul:hover .contenido:after{
  content: "Paseo\A Rodombolo\A Vuelta a casa";
  font-size: 2vw;
  white-space: pre;
}

.circulos>.rojo:hover .contenido:after{
  content: "Ronda larga\A Travesía I\A Mont Alt";
  font-size: 2vw;
  white-space: pre;
}

.circulos>.negro:hover .contenido:after{
  content: "Ciervo negro";
  font-size: 2vw;
}

.circulos *{
  margin: auto;
}

/*colores de fondo de los circulos*/
.verde {
  background-color: #4eb349;
}

.azul {
  background-color: #179fd2;
}

.rojo {
  background-color: red;
}

.negro {
  background-color: black;
}

@media (max-width: 600px){
  #desglose {
    text-align: center;
    font-size: 4vw;
    color: var(--negro);
  }
  .circulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .circulos>div {
    display: inherit;
    width: 30vw;
    height: 30vw;
    margin: 4vw;
    transition: width 0.33s, height 0.33s;
    font-size: 4vw;
  }

  /*ampliaciond de los circulos al pasar el raton por encima*/
  .circulos>div:hover{
    width: 40vw;
    height: 40vw;
    font-size: 0;
  }

  /*texto despues*/
  .circulos>.verde:hover p:after{
    content: "Ala Blanca\A El pinet\A Ronda Corta";
    font-size: 4vw;
    white-space: pre;
  }

  .circulos>.azul:hover .contenido:after{
    content: "Paseo\A Rodombolo\A Vuelta a casa";
    font-size: 4vw;
    white-space: pre;
  }

  .circulos>.rojo:hover .contenido:after{
    content: "Ronda larga\A Travesía I\A Mont Alt";
    font-size: 4vw;
    white-space: pre;
  }

  .circulos>.negro:hover .contenido:after{
    content: "Ciervo negro";
    font-size: 4vw;
    white-space: pre;
  }

  .contenedor figure{
    display: none;
  }

  .info{
    width: auto;
  }

  .info ul{
    padding: 0;
  }

  .contenedor .info *{
    font-size: 4vw;
  }
}

@media (orientation:portrait) and (min-width: 600px){
  #desglose {
    text-align: center;
    font-size: 3vw;
    color: var(--negro);
  }
  .circulos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .circulos>div {
    display: inherit;
    width: 25vw;
    height: 25vw;
    margin: 4vw;
    transition: width 0.33s, height 0.33s;
    font-size: 3vw;
  }

  /*ampliaciond de los circulos al pasar el raton por encima*/
  .circulos>div:hover{
    width: 35vw;
    height: 35vw;
    font-size: 0;
  }

  /*texto despues*/
  .circulos>.verde:hover p:after{
    content: "Ala Blanca\A El pinet\A Ronda Corta";
    font-size: 3vw;
    white-space: pre;
  }

  .circulos>.azul:hover .contenido:after{
    content: "Paseo\A Rodombolo\A Vuelta a casa";
    font-size: 3vw;
    white-space: pre;
  }

  .circulos>.rojo:hover .contenido:after{
    content: "Ronda larga\A Travesía I\A Mont Alt";
    font-size: 3vw;
    white-space: pre;
  }

  .circulos>.negro:hover .contenido:after{
    content: "Ciervo negro";
    font-size: 3vw;
    white-space: pre;
  }

  .contenedor figure{
    display: none;
  }

  .info{
    width: auto;
  }

  .info ul{
    padding: 0;
  }

  .contenedor .info *{
    font-size: 3vw;
  }
}
