@import "menuCabecera.css";

h2 {
  font-size: 2.5vw;
  margin: auto;
  padding: 2%;
  font-weight: bold;
}

.contenedor {
  background-color: var(--azul-grisaceo);
  color: var(--casi-blanco);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.info{
  width: 50%;
}

.contenedor>ul {
  margin: auto;
}

.contenedor li {
  list-style: none;
  padding: 1.2vw;
  text-align: justify;
  font-size: 2.2vw;
}

.contenedor>figure {
  width: 25%;
  margin: auto;
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.contenedor>figure>img {
  width: 100%;
}

#desglose {
  text-align: center;
  color: var(--negro);
}

.circulos {
  width: 100%;
  text-align: center;
  display: inline-flex;
  padding-bottom: 3vw;
}

.circulos>div {
  margin: auto;
  color: var(--casi-blanco);
  font-size: 2vw;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

/*ampliaciond de los circulos al pasar el raton por encima*/
.circulos>div:hover{
  width: 20vw;
  height: 20vw;
  cursor: pointer;
  font-size: 0;
}

/*texto despues*/
.circulos>.verde:hover p:after{
  content: "Ala Blanca\A El pinet\A Ronda Corta";
  font-size: 2vw;
  white-space: pre;
}

.circulos>.azul:hover .contenido:after{
  content: "Paseo\A Rodombolo\A Vuelta a casa";
  font-size: 2vw;
  white-space: pre;
}

.circulos>.rojo:hover .contenido:after{
  content: "Ronda larga\A Travesía I\A Mont Alt";
  font-size: 2vw;
  white-space: pre;
}

.circulos>.negro:hover .contenido:after{
  content: "Ciervo negro";
  font-size: 2vw;
}

/*colores de fondo de los circulos*/
.verde {
  background-color: #4eb349;
}

.azul {
  background-color: #179fd2;
}

.rojo {
  background-color: red;
}

.negro {
  background-color: black;
}
