@import "menuCabecera.css";

.camaras{
  display: grid;
  background-color: var(--azul-grisaceo);
  grid-template-areas: "video1 video2" "video3 video4";
  margin: auto;
  grid-gap: 4vw;
  padding: 4vw;
}

.camaras > video{
  margin: auto;
  width: 100%;
  height: auto;
}

.video1{
  grid-area: video1;
}
.video2{
  grid-area: video2;
}
.video3{
  grid-area: video3;
}
.video4{
  grid-area: video4;
}
/*para pantallas pequeñas, como moviles*/
@media (max-width: 600px) or (orientation:portrait){
  .camaras{
    grid-template-areas: "video1" "video2" "video3" "video4";
    grid-gap: 7vw;
    padding: 7vw;
  }
}
